:root {
    --dark-1: #1f1f1f;
    --dark-2: #444;
    --dark-3: rgba(176, 176, 176, 0.4);
    --light-1: #eaeaea;
    --light-2: #fefefe;
    --size-heading: 80px;
    --size-button: 20px;
    --size-info: 22px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Elements*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    padding: 20px 0;
    background: var(--dark-1);
    color: var(--light-1);
    font-family: Lato, sans-serif;
}

button {
    font-family: inherit;
    font-size: var(--size-button);
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
    border: 1px solid var(--light-1);
    border-radius: 6px;
    background-color: var(--dark-2);
    color: var(--light-1);
    transition: transform 0.08s ease-in-out;
}

button:hover {
    transform: scale(1.16);
}

input[type='color']:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
}

input[type='color'] {
    -webkit-appearance: none;
    width: 60px;
    height: 60px;
    border: none;
    background-color: var(--dark-1);
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(245, 245, 245, 0.4) 0 1px 6px 2px;
}


input[type='range'] {
    -webkit-appearance: none;
    background-color: var(--dark-2);
    min-width: 100%;
    cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid var(--light-1);
    border-radius: 25px;
    background: var(--dark-1);
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 25px;
    margin-top: -7px;
    background: var(--light-2);
    transition: transform 0.08s ease-in-out;
}

input[type='range']::-webkit-slider-thumb:hover {
    transform: scale(1.4);
}

/*Classes*/

.heading {
    display: flex;
    justify-content: center;
    font-size: var(--size-heading);
}

.config {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 0 60px;
    font-size: var(--size-info);
}

.config .gridInfo {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.config .gridSize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    min-width: 200px;
}

.config .options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.config .options .colourSel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

button.active {
    background-color: var(--light-2);
    color: var(--dark-2);
}

.config .options .reset:active {
    background-color: var(--light-2);
    color: var(--dark-2);
}

.gridContainer {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    min-width: 740px;
    min-height: 740px;
    background-color: var(--light-1);
    box-shadow: rgba(245, 245, 245, 0.4) 0 1px 6px 2px
}

.gridElement {
    user-select: none;
    border: 1px solid var(--dark-3);
}

.footer {
    display: flex;
    justify-content: center;
    padding: 10px;
}
